

<div class="container-fluid ">

    <div class ="row   justify-content-between m-5 ">
        <div class="card   col rounded shadow-lg mb-3 " style="max-width: 24rem;">
            <div class="progress"  *ngIf="progressBar">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              </div>
            <h3 class="card-title p-3">K-means Clustering</h3>

            
            <div class="card-body">
                
                <form [formGroup]="form"  (ngSubmit)="onSubmit()">
                    <div >
                                 
                            <label for="dist_type" class="form-label">Distance Type</label>
                            <select  id ='dist_type' class="form-control" formControlName="dist_type" >
                                    <option  value="eul">Euclidean Distance</option>
                                    <option  value="man">Manhattan Distance</option>
                            </select>
                            <small   class="text-danger"
                                *ngIf="!this.form.controls['dist_type'].valid && this.form.controls['dist_type'].touched" 
                                 >
                                K is required
                                </small>
                            
                            <br>
                            <label for="k" class="form-label" > K</label>
                            <input  id='k'  class="form-control" formControlName="k"
                                type="text">
                                <small   class="text-danger"
                                *ngIf="!this.form.controls['k'].valid && this.form.controls['k'].touched" 
                                 >
                                K is required
                                </small>
                               <br>
                            <label for="num_iterations" class="form-label" > Number of Iteration</label>
                            <input  id='num_iterations'  class="form-control" formControlName="num_iterations"
                                type="text">
                                <small   class="text-danger"
                                *ngIf="!this.form.controls['num_iterations'].valid && this.form.controls['num_iterations'].touched" 
                                >
                                Number of Iteration is Required
                                </small>  
                        
                            <!-- <small   class="text-danger"
                            *ngIf="!this.form.controls['select'].valid && this.form.controls[item.caption].touched" 
                             >
                            Dataset is required
                            </small> -->

                    </div>
                    <button class="btn btn-grad" type="submit" [disabled]="!form.valid" >Train</button>
                </form>
          </div>          

    </div>
    <div class=" card col rounded shadow-lg mb-3 " style="max-width: 24rem;" *ngIf="!progressBar && this.result">
        
        
        <!-- <div class="card   " style="max-width: 24rem;"> -->
            <!-- <div class="card-header">Select Algorithm Type</div> -->
            <h3 class="card-title p-3">Output</h3>
            
                <img [src]="this.result" width =350>
                <a [href]="this.result"> Check Updated</a>    

            </div>
    
    </div>