<div class="container-fluid ">

<div class ="row h-100 justify-content-center align-items-center p-5 ">
    <div class="card  rounded shadow-lg mb-3 " style="max-width: 24rem;">
        <div class="card-header">Select Algorithm Type</div>
        <div class="card-body">
          <!-- <h5 class="card-title">Select Algorithm Type </h5> -->
          <p class="card-text">In Supervised learning input and output is given in training dataset where as output is not given in case of unsupervised learning</p>
          <a [routerLink]="['/supervised']" routerLinkActive="router-link-active"   class="card-link btn-grad shadow-lg">Supervised </a>
          <a [routerLink]="['/unsupervised']" routerLinkActive="router-link-active"  class="card-link btn-grad shadow-lg">Unsupervised </a>
        </div>
      </div>
</div>

</div>